language: php

php:
  - 5.3

before_script:
  - git clone git://github.com/cakephp/cakephp ../cakephp && cd ../cakephp
  - mv ../cakephp-preguntafrecuente ../cakephp/app/Plugins/PreguntaFrecuente
  - chmod -R 777 ../cakephp/app/tmp
  - sh -c "mysql -e 'CREATE DATABASE cakephp_test;'"
  - echo "<?php
   class DATABASE_CONFIG {
   public \$test = array(
     'datasource' => 'Database/Mysql',
     'database' => 'cakephp_test',
     'host' => '0.0.0.0',
     'login' => 'travis',
     'host' => '',
     'persistent' => false,
   );
   }" > ../cakephp/app/Config/database.php
  - ../cakephp/app/Console/cake schema create --plugin PreguntaFrecuente

script:
  - ./lib/Cake/Console/cake test PreguntaFrecuente AllTests --stderr