language: php

php:
  - 5.3

before_script:
  - git clone git://github.com/cakephp/cakephp ../cakephp
  - cd ..
  - mv cakephp-preguntafrecuente cakephp/app/Plugin/PreguntaFrecuente
  - chmod -R 777 cakephp/app/tmp
  - sh -c "mysql -e 'CREATE DATABASE turnera;'"
  - echo "<?php
   class DATABASE_CONFIG {
   public \$default = array(
     'datasource' => 'Database/Mysql',
     'database' => 'turnera',
     'host' => '0.0.0.0',
     'login' => 'travis',
     'prefix' => '',
     'persistent' => false,
   );
   public \$test = array(
     'datasource' => 'Database/Mysql',
     'database' => 'turnera',
     'host' => '0.0.0.0',
     'login' => 'travis',
     'prefix' => '',
     'persistent' => false,
   );
   }" > cakephp/app/Config/database.php
  - sh -c "mysql < cakephp/app/Plugin/PreguntaFrecuente/Config/Schema/schema.sql"
  - echo "CakePlugin::load( 'PreguntaFrecuente' ); " >> cakephp/app/Config/bootstrap.php

script:
  - ./cakephp/app/Console/cake test PreguntaFrecuente AllTests --stderr