language: php

php:
  - 5.3
  - 5.4
  - 5.5

before_script:
  - git clone git://github.com/cakephp/cakephp ../cakephp
  - cd ..
  - cp -R cakephp-preguntafrecuente cakephp/app/Plugin/PreguntaFrecuente
  - chmod -R 777 cakephp/app/tmp
  - sh -c "mysql -e 'CREATE DATABASE turnera;'"
  - echo "<?php
   class DATABASE_CONFIG {
   public \$default = array(
     'datasource' => 'Database/Mysql',
     'database' => 'turnera',
     'host' => '0.0.0.0',
     'login' => 'travis',
     'prefix' => '',
     'persistent' => false,
   );
   public \$test = array(
     'datasource' => 'Database/Mysql',
     'database' => 'turnera',
     'host' => '0.0.0.0',
     'login' => 'travis',
     'prefix' => '',
     'persistent' => false,
   );
   }" > cakephp/app/Config/database.php
  - sh -c "mysql < cakephp/app/Plugin/PreguntaFrecuente/Config/Schema/schema.sql"
  - echo "CakePlugin::load( 'PreguntaFrecuente' ); " >> cakephp/app/Config/bootstrap.php
  - echo "Configure::write('Security.salt', 'DYhG93b0qyJtfIxufs2gruVoUubWnwvniRe2G0FraCa9mi');" >> cakephp/app/Config/core.php
  - echo "Configure::write('Security.cipherSeed', '7685923096357445354624962749683645');" >> cakephp/app/Config/core.php
  - cp cakephp/app/Plugin/PreguntaFrecuente/composer.json composer.json
  - cp cakephp/app/Plugin/PreguntaFrecuente/.coveralls.yml .coveralls.yml
  - composer install --dev
  - mkdir -p build/logs

script:
  - ./cakephp/app/Console/cake test PreguntaFrecuente AllTests --stderr --coverage-clover build/logs/clover-plugin.xml


after_script:
  - ls -1
  - cd cakephp-preguntafrecuente/
  - php ../vendor/bin/coveralls -v
